.container{
    background-color: antiquewhite;
    height: 600px;
    width: 600px;
    border: 4px solid green;
    margin-left: 350px;
    margin-top: 70px;

}
.imgdiv{
    border: 2px solid red;
    height: 200px;
    width: 200px;
    margin-left: 200px;
    margin-top: 70px;
}